
body {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 22px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

h1 {
    margin-bottom: 65px;
    font-weight: 800;
    margin-top: -25px;
}

button {
    cursor: pointer;
    transition-duration: 0.3s;
    border: 4px solid #000000;
    border-radius: 0;
    font-family: 'JetBrains Mono', sans-serif;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 14px;
}

.player-choices {
    display: flex;
    gap: 50px;
}

.transform {
    transform: scale(.99);
}

.original-size {
    transform: none;
}

.gameBtns {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 3px solid #000000;
}


.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.score {
    display: flex;
    gap: 24px;
    border: 2px solid black;
    padding: 12px;
    align-items: center;
}

.score p {
    margin: 0;
}

#player-score-text {
    background-color: rgb(156, 238, 156);
    padding: 5px 20px;
}

#computer-score-text {
    background-color: rgb(146, 226, 250);
    padding: 5px 20px;
}

.results {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -25px;
}

#round-result-text {
    font-weight: 700;
    font-size: 30px;
}

#game-result-text {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-top: -2px;
}


.current-computer-choice {
    box-shadow: 0px 0px 0px 5px #ffffff, 0px 0px 0px 10px rgb(146, 226, 250);
}

.current-player-choice {
    box-shadow: 0px 0px 0px 5px #ffffff, 0px 0px 0px 10px rgb(156, 238, 156);
}

.same-choice-outline {
    box-shadow: 0px 0px 0px 5px #ffffff, 0px 0px 0px 10px rgb(230, 200, 8);
}

.modal-background{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    width: 100%;
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    width: 43%;
    border-radius: 10px;
    margin-bottom: 175px;
    padding: 32px 10px;
    gap: 5px;
    
}

#restart-game-button {
    font-size: 28px;
    margin-top: -12px;
}

#restart-game-button:hover {
    background-color: rgb(230, 200, 8);
}