
body {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 22px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

h1 {
    margin-bottom: 65px;
    font-weight: 800;
    margin-top: -25px;
}

.player-choices {
    display: flex;
    gap: 50px;
}

.transform {
    transform: scale(.99);
}

.original-size {
    transform: none;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 3px solid #000000;
}


.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
}

.score {
    display: flex;
    gap: 24px;
    border: 2px solid black;
    padding: 12px;
    align-items: center;
}

.score p {
    margin: 0;
}

#player-score-text {
    background-color: rgb(156, 238, 156);
    padding: 5px 20px;
}

#computer-score-text {
    background-color: rgb(146, 226, 250);
    padding: 5px 20px;
}

.results {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -25px;
    
}

#round-result-text, #game-result-text {
    font-weight: 700;
    font-size: 30px;
}

.current-computer-choice {
    outline: 5px solid rgb(146, 226, 250);
    outline-offset: 5px;
}

.current-player-choice {
    outline: 5px solid rgb(156, 238, 156);
    outline-offset: 5px;
}

.same-choice {
    outline: 5px solid rgb(215, 192, 45);
    outline-offset: 5px;
}